
<%= form_tag('/stores', method: :post) do %>
  <h3>書店情報の作成</h3>
  <input placeholder="書店名" type="text" name="name">
  <input placeholder="駅名" type="text" name="station">
  <input placeholder="駅からの距離" type="text" name="distance">
  <input placeholder="電話番号" type="text" name="phone_number">
  <input placeholder="開店時間（10:00:00)" type="text" name="open">
  <input placeholder="閉店時間(23:00:00)" type="text" name="close">
  <input type="submit" value="SENT">
<% end %>



<!-- 

t.string   :name
      t.text     :address
      t.string   :station
      t.text     :distance
      t.string   :phone_number
      t.time     :open
      t.time     :close
      t.text     :image
      t.text     :map
      t.text     :siteaddress
      t.integer  :breadth
      t.integer  :congestion
      t.integer  :likes
      t.text     :genre
      t.text     :text -->